doctype 5
html
  head
    meta(charset="UTF-8")
    meta(name="Robots", content="index,follow")
    meta(name="author", content="Balazs Nadasdi")
    block meta
      meta(name="description", content="Description")
      meta(name="keywords", content="key, words")
    title= title
    block stylesheets
      link(rel='stylesheet', href='/css/app.css')
    block javascripts
  body
    header
      block header
        h1 "No header"

    block content
      h1 "No content"


