extends ../_layouts/frontend

block meta
  meta(name="description", content="#{product.description}")
  meta(name="keywords", content="#{product.partnumber}")

block header
  h1= product.name

block content
  h3 Partnumber: #{product.partnumber}
  p= product.description